<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Speech to Text
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Speech to Text</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="full" (click)="hasPermission()">Has Permission</ion-button>
  <ion-button expand="full" (click)="requestPermission()">Request Permission</ion-button>
  <ion-button expand="full" (click)="getSupportedLanguages()">Get Supported Languages</ion-button>
  <ion-button expand="full" (click)="isRecognitionAvailable()">Check Recognition Available</ion-button>
  <ion-button expand="full" (click)="startListening()">Start Listening</ion-button>
  <ion-button expand="full" (click)="stopListening()">Stop Listening</ion-button>
  <ion-list>
    <ion-item *ngFor="let data of matches">
      <ion-label>{{data}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
