<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Document Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Document Scanner</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img [src]="image"></ion-img>
  <ion-button expand="full" (click)="scanDoc()">scanDoc</ion-button>
  <ion-button expand="full" (click)="recText()">recText</ion-button>
</ion-content>
